* {
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width :1000px;
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.login-page h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.login-page input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #0000005b;
    box-sizing: border-box;
    border-radius: 10px;
}

.login-page .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: -5px 0 15px;
}

.login-page input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #9a0404;
    margin: 5px;
    cursor: pointer;
}

.remember-forgot a{
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login-page .register-link{
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

.register-link p a{
    text-decoration: none;
}
.register-link p a:hover{
    text-decoration: underline;
}

.login-page button{
    width: 100%;
    padding: 12px;
    background-color:#000000 ;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.login-page button a{
    color: white;
    text-decoration: none;
}

.login-page button:hover{
    background:#870003fd;
}
.image{
    flex: 1; 
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.image-section{
    display: flex;
    height: 97.8vh;
}